<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>RegisterTicket</servlet-name>
        <servlet-class>com.example.ss01.Bai6</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterTicket</servlet-name>
        <url-pattern>/RegisterTicket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorDemoServlet</servlet-name>
        <servlet-class>com.example.ss01.ErrorDemoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorDemoServlet</servlet-name>
        <url-pattern>/error-test</url-pattern>
    </servlet-mapping>

    <!-- Cấu hình xử lý lỗi 500 và exception -->
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>